@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.blomsterlandet.se/optimized/c-ProductDetailsSingle-Default-Lg1x/0f830cf8/globalassets/catalog-images/7/4374/c8b82559afa13cef88b9c4d5e2f66869.jpg" class="d-block w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.blomsterlandet.se/optimized/c-ProductDetailsSingle-Default-Lg1x/740ef41a/globalassets/catalog-images/7/22895/3fd88bd914f3b4ddb31c42f64f30e1f6.jpg" class="d-block w-50" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.blomsterlandet.se/optimized/c-ProductDetailsSingle-Default-Lg1x/e633ea77/globalassets/catalog-images/7/3129/840230af4fce0e7831203c30be378f2c.jpg" class="d-block w-50" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
